{% extends "base.html" %}
{% block content %}
<section id="subscribe">
    <header>
        <h3>Let me know when you launch!</h3>
    </header>
    <div class="header-shadow"></div>
    <article id="subscription-form">
        <form method="post" action="." id="form">
            {% if  form.full_name.errors %}<p class="error">&darr; {% for error in form.full_name.errors %}{{ error }} &darr;{% endfor %}</p>{% endif %}
            <label for="id_full_name">Your Name*:</label>
            <input type="text" name="full_name" id="id_full_name" value="{{ form.full_name.value|default:"" }}" required />
            {% if  form.email.errors %}<p class="error">&darr; {% for error in form.email.errors %}{{ error }} &darr;{% endfor %}</p>{% endif %}
            <label for="id_email">Your Email Address*:</label>
            <input type="email" name="email" id="id_email" value="{{ form.email.value|default:"" }}" required />
            <command>
                <input type="submit" id="id_submit" value="Subscribe!"/>
            </command>
            {{ form.source_share_code }}
            {% csrf_token %}
        </form>
    </article>
</section>
{% endblock %}