{% extends "base.html" %}
{% block content %}
<section id="unsubscribe">
    <header>
        <h3>Take me off the list!</h3>
    </header>
    <div class="header-shadow"></div>
    <article id="unsubscription-form">
        <form method="post" action="." id="form">
            {% if  form.email.errors %}<p class="error">&darr; {% for error in form.email.errors %}{{ error }} &darr;{% endfor %}</p>{% endif %}
            <label for="id_email">Your Email Address*:</label>
            <input type="email" name="email" id="id_email" value="{{ form.email.value|default:"" }}" required />
            <command>
                <input type="submit" id="id_submit" value="Unsubscribe!"/>
            </command>
            {% csrf_token %}
        </form>
    </article>
</section>
{% endblock %}