<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Daniel Davies" />
    <meta name="viewport" content="width=1024" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
    <title>Holding Page</title>
    <link rel="home" href="" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header id="page-header"">
        <hgroup>
            <h1>Holding Page</h1>
            <h2>A simple viral holding page built with Django</h2>
        </hgroup>   
        <div id="overview">
            <div id="overview-mid-layer">
               <div id="overview-inner-layer">
                    <p>
                       We're just tightening the last few nuts and bolts, then we're good to go! Why not enter your details below and be the first to know when we launch?
                    </p>
                    <p>
                       Once you've subscribed we'll provide you with a link that you can send to your friends. Get enough to sign-up using your link and there will be a treat waiting for you on launch!
                    </p>
                </div>
            </div>
        </div>
    </header>
    <div id="content">
        <div id="column-1">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="column-2">
            <section id="social-media">
                <header>
                    <h3>More places to find us</h3>
                </header>
                <div class="header-shadow"></div>
                </p>
                <article id="facebook">
                    <div class="sprite"></div>
                    <header>
                        <h4>Facebook</h4>
                    </header>
                    <a href="" title="" rel="me">
                        Come and like us
                    </a>
                </article>
                <article id="twitter">
                    <div class="sprite"></div>
                    <header>
                        <h4>Twitter</h4>
                    </header>
                    <a href="" title="" rel="me">
                        Latest news as it happens
                    </a>
                </article>
            </section>
        </div>
    </div>
    <footer id="page-footer">
        <p>
            Made with <a href="https://github.com/danux/Django-Holding-Page">Django Holding Page</a>, by <a href="http://www.danieldavies.co.uk">Daniel Davies</a>.
        </p>
    </footer>
</body>
</html>