<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Daniel Davies" />
    <meta name="viewport" content="width=1024" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
    <title>Django Holding Page</title>
    <link rel="home" href="" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header id="page-header"">
        <hgroup>
            <h1>Django Holding Page</h1>
            <h2>A demonstration holding page.</h2>
        </hgroup>
    </header>
    <div id="content">
        <div id="column-1">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="column-2">
            <section>
                <header>
                    <h3>Where am I?</h3>
                </header>
                <div class="header-shadow"></div>
                <article id="about">
                    <p>
                        Django holding page collects names and email addresses that can be exported
                        as a CSV, ready for import in to Campaign Monitor. This page is for demonstration
                        purposes only!
                    </p>
                    <p>
                        If you've checked out this project then well done - it's running! Now customise
                        the templates and you're ready to go!
                    </p>
                </article>
            </section>
        </div>
    </div>
    <footer id="page-footer">
        <p>
            Made with <a href="https://github.com/danux/Django-Holding-Page">Django Holding Page</a>, by <a href="http://www.danieldavies.co.uk">Daniel Davies</a>. Find out more on <a href="https://github.com/danux/Django-Holding-Page">Github</a>.
        </p>
    </footer>
</body>
</html>