<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Author" content="Daniel Davies" />
    <meta name="viewport" content="width=1024" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
    <title>RPG Engine - Coming Soon!</title>
    <link rel="home" href="" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" media="screen" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header id="page-header"">
        <hgroup>
            <h1>RPG Engine</h1>
            <h2>An open-source play by post sandbox.</h2>
        </hgroup>
    </header>
    <div id="content">
        <div id="column-1">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="column-2">
            <section id="social-media">
                <header>
                    <h3>About</h3>
                </header>
                <div class="header-shadow"></div>
                <article id="about">
                    <p>
                        RPG Engine is under development and due to launch soon.
                    </p>
                    <p>
                        By providing your name and email address you can keep up to date
                        with developments. You'll also be the first to have a chance to join
                        as a beta user.
                    </p>
                    <p>
                        Find out more on <a href="https://github.com/danux/RPG-Engine">Github</a>.
                    </p>
                </article>
            </section>
        </div>
    </div>
    <footer id="page-footer">
        <p>
            Made with <a href="https://github.com/danux/Django-Holding-Page">Django Holding Page</a>, by <a href="http://www.danieldavies.co.uk">Daniel Davies</a>.
        </p>
    </footer>
</body>
</html>